/******************************************************************************
 * WATS1010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************/

html {
	padding: 0;
}

header {
	min-height: 300px;
	background-image: url('../img/monkaa_monkeyhang.jpg');
	background-repeat: none;
	background-position: center center;
	background-size: cover;
	border: 25px solid black;
}

#social {
	background: darkgray;
	position: absolute;
	top: 50px;
	right: 0px;
	width: 25px;
	transition: 2s width;
	font-family: cursive;
}

#social:hover {
	width: 250px;
}

#social ul {
	list-style: none;
	padding: 0px;
}

#social li {
	margin: 0;
	padding: 0;
}

ul {
	font-family: cursive;
}

.subtitle {
	font-family: cursive;
	text-align: center;
	font-size: 30px;
}

#about .weybec-people img {
	width: 200px;
	padding: 50px;
	background-color: lightcoral;
	border: 10px solid black;
}

.weybec-people li {
	display: inline;
	float: left;
	text-align: center;
	list-style-type: none;
}

.lead {
	font-size: 30px;
	font-family: cursive;
	text-align: center;
}

h1 {
	text-align: center;
	font-family: cursive;
	font-size: 100px;
}

h2 {
	text-align: center;
	font-family: cursive;
	font-size: 30px;
}
h3 {
	font-family: cursive;
	float: right;
	
}
footer {
	background-image: url('../img/monkaa_title.jpg');
	background-position: center center;
  height: 250px;
	background-size: cover;
	border: 25px solid gray;
}

element.style {
	height: 360px;
	padding-left: 30px;
	border-right-width: 30px;
	width: 1150px;
}
#about {
	font-family: cursive;
	background-color:lightcoral ;
	font-size:20px;
}

